{% extends 'baseAdmin.html.twig' %}

{% block title %}Student index{% endblock %}

{% block body %}
    <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Students list</h1>
            </div> 
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Students list</li>
              </ol>
            </div> 
          </div> 
        </div> 
      </div>
    <section class="content">
        <div class="container-fluid">
          <a class="btn btn-success mt-2 mb-2" href="{{ path('app_admin_student_new') }}">Create new</a>
          <table id="example1" class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>Id</th>
                <th>CreatedAt</th>
                <th>LastName</th>
                <th>FirstName</th>
                <th>Email</th>
                <th>Birthdate</th>
                <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.id }}</td>
                    <td>{{ student.createdAt ? student.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ student.lastName }}</td>
                    <td>{{ student.firstName }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.birthdate ? student.birthdate|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('app_admin_student_show', {'id': student.id}) }}">show</a>
                        <a href="{{ path('app_admin_student_edit', {'id': student.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
          
        </div> 
    </section>

{% endblock %}
