{% extends 'baseAdmin.html.twig' %}

{% block title %}Lesson index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Lesson index</h1>
        <a class="btn btn-success " href="{{ path('app_admin_lesson_new') }}">Create new</a>
    </div>

    <table id="example1" class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lesson in lessons %}
            <tr>
                <td>{{ lesson.id }}</td>
                <td>{{ lesson.name }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_admin_lesson_show', {'id': lesson.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('app_admin_lesson_edit', {'id': lesson.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
